.container-fluid {
    margin-top: 37px;
    padding-left: 0px;
    padding-right: 0px;
    .tab-content {
        .card-block {
            .table {
                td {
                    vertical-align: middle;
                }
                td:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}