.page-item.active{
    .page-link {
        background-color: $primary-color;
    }
}

.container-fluid {
    margin-top: 37px;
    padding-left: 0px;
    padding-right: 0px;
    .tab-content {
        .card-block {
            .table {
                td {
                    vertical-align: middle;
                }
                td:first-child {
                    font-weight: bold;
                }
            }
        }
        nav {
            text-align: center;
        }
    }

    .md-form  {
        display: flex;
        float: right;

        label {
            top: -1rem;
        }
    }
}

@media (min-width: 1442px) { 
    .container-fluid {
        padding-left: 240px;
    }
}

.table {
    td {
        vertical-align: middle;
    }
    td:first-child {
        font-weight: bold;
    }
}

.container {
    margin-top: 37px;
}

.text-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}